body {
    background: #fafafa;
    margin: 0;
    padding: 0;
}

.form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.form__body {
    background: #ffffff;
    border: 1px solid #f1f1f1;
    border-radius: 3px;
    padding: 30px 60px;
    text-align: center;
    width: 450px;
}

.form_body__element {
    margin: 10px auto;
}

.inline_element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.center_element {
    text-align: center;
}

.form__label {
    font-size: 30px;
    text-align: left;
}

.form__element {
    padding: 0 30px;
    text-align: center;
    margin-top: 7px;
}

textarea {
    resize: none;
}